.logo{
    font-family: "Poetsen One", sans-serif;
    font-size: 2rem;
    background: linear-gradient(90deg, #D400FF, #8800FF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}