.header-profile-wrapper{
    position: relative;
    cursor: pointer;
}

.header-profile-dropdown {
    position: absolute;
    top: calc(100% + 20px);
    border: 2px solid white;
    width: max-content;
    right: 0;
    margin-top: 8px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 15px;
}

.header-profile-dropdown-item {
    padding: 10px 20px;
    color: white;
    background: transparent;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 10px;
}

.header-profile-dropdown-item:hover {
    background-color: white;
    color: black;
}
