/* ArtPostModal.css */
.artpost-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    backdrop-filter: blur(5px);
}

.artpost-modal {
    background: black;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    width: calc(100vw - 100px);
    border: 2px solid white;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 4px 12px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: black;
}
.close-button:hover {
    background: white;
    color: black;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    max-width: 50%;
    /* border: 1px solid white; */
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.details-container {
    height: 100%;
    flex: 1;
    padding: 0px 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
}
.details-container::-webkit-scrollbar{
    display: none;
}

.titleAndLikes {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.titleAndLikes>h2{
    font-size: 2rem;
    line-height: 2rem;
}


.description{
    min-height: max-content;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}
.description>p{
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 200;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.profile>div>h2{
    font-size: 1.5rem;
    line-height: 1.8rem;
}
.profile>div>p{
    font-size: 1rem;
    font-weight: 200;
    cursor: pointer;
}
.profile-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin-top: 20px;
}
.follow-button{
    background: none;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
.follow-button:hover{
    background: white;
    color: black;
}
.divider{
    width: 100%;
    height: 2px;
    background: white;
    margin: 20px 0px;
}