.comments{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    /* flex-direction: row; */
    flex: 1;
}
.comments>img{
    height: 30px;
}
.comments>p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 200;
}