.views{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}
.views>img{
    height: 30px;
}
.views>p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 200;
}